<h1>Hello <%= @user.name %></h1>
<% if @user.admin %>
	ADMIN
<% end %>
<h3>Information</h3>
<ul>
	<li>Mood: <%= @user.mood %></li>
	<li>Nausea level: <%= @user.nausea %></li>
	<li>Happiness level: <%= @user.happiness %></li>
	<li>Number of Tickets: <%= @user.tickets %></li>
	<li>Height: <%= @user.height %></li>
	<li>Admin: <%= @user.admin %></li>
	<li><%= link_to "See attractions", attractions_path %></li>
</ul>